---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-fam-base: "Avenir Next", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:   16px;
$font-weight-base: 400;
$small-font-size:  $font-size-base * 0.875;
$line-height-base: 1.5;

$font-fam-cd:      "Avenir Next Condensed", "Open Sans Condensed", "Arial Narrow", sans-serif;
$font-fam-dp:      "Playfair Display", serif;

$spacing-unit:     30px;

$text-color:       #ffffff;
$background-color: #41423C;
$accent-color:     #CD5B75;

$content-width:    1000px;
$content-width-n:  620px;

$mb-margin:        10px;

$bp-tablet:        768px;
$bp-desktop:       1024px;
$bp-desktopwide:   1440px;

$transition:       0.3s;


// mobile-first css; with media queries for tablet and desktop
@mixin query($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "typography",
        "pcast-player",
        "links",
        "syntax-highlighting"
;
