---
title: About
permalink: /about/
layout: default
---

<header class="screen-edge">
  <div class="vp-4"></div>
  <h1 class="title"><span class="title-left">Two nerds;</span> <span class="title-right">great chats</span></h1>
</header>

{% include about.html %}

{% include hr.html direction="left" color=site.peach %}

<div class="vp-8">
{% include platformlinks.html %}
</div>

{% include hr.html direction="right" color=site.teal %}

{% include contact.html %}

{% include hr.html direction="left" color=site.purple %}
