<section class="screen-edge alternate vp-8">
  <div>
    <blockquote class="big-text">
      Society, tech, culture
    </blockquote>
    <div class="flex-space"></div>
    <section class="paragraphs">
      <p>Things of Interest is a podcast that encompasses, in its purest form, things that we find interesting. Our discussions often center around technological advancements and how they affect social issues. As two socially-conscious millennial nerds, who better placed to talk about artificial intelligence, leadership, bitcoin, modern dating, gene editing, and fandom? Probably no-one.</p>
      <p>We’re both from New Zealand so have beautiful accents that you can put in your ears. Episodes are roughly an hour long, and come out when they come out.</p>
      <p>Things of Interest is a non-commercial podcast. We run no ads, make no money and are beholden to nobody. 🤘</p>
    </section>
  </div>
  <div>
    <blockquote class="big-text">
      through a feminist lens
    </blockquote>
    <div class="flex-space"></div>
    <section class="paragraphs">
      <p>Things of Interest is hosted by Sophia Frentz and Serena Chen, two nerds who met at Otago University.</p>
      <p>Sophia lives in Melbourne, Australia, where they completed a PhD in clinical genetics, and is now working as a Consultant at Deloitte. They’re a published poet and writer and chronically ill, queer, and addicted to coffee. You can find them on Twitter at <a href="https://twitter.com/SophiaFrentz">@SophiaFrentz</a>.</p>
      <p>Serena lives in Munich, Germany, where she designs for Google Chrome. She has two degrees in physics, dabbles in everything from hacking to film, and studied at Berkeley once. She made this website. You can find her on Twitter at <a href="https://twitter.com/Sereeena">@Sereeena</a>.</p>
    </section>
  </div>
</section>