<section class="screen-edge alternate vp-8">
  <div>
    <blockquote class="big-text">
      come @ me bro
    </blockquote>
    <div class="flex-space"></div>
    <section class="paragraphs">
      <p>We’d love to hear from you. Send in your questions, episode suggestions, and general thoughts to <a href="https://twitter.com/castinginterest/">@castinginterest</a>. We also have a facebook page, which you should totally follow for related links (usually in the form of comics, let’s be honest).</p>
      <p>Even better: record a voice memo of your question / thought / suggestion / observation / etc and email it through to us at castinginterest@gmail.com. We might even feature it on our show. Winky face.</p>
      <p>Found a bug on this website? Tell Serena to fix it by logging an issue on the <a href="https://github.com/heisenburger/thingsofinterest/">Git repo</a>, and she will promise to only procrastinate for a few days at most.</p>
    </section>
  </div>
</section>