<article class="episode">
  <header>
    <p class="episode-index">{{ page.index }}</p>
    <h1 class="episode-title">{{ page.title }}</h1>
  </header>

  <div class="player">
    <button class="nbs player-button player-play" alt="Play">
      {% include play.svg %}
    </button>
    <button class="nbs player-button player-pause" alt="Pause">
      {% include pause.svg %}
    </button>
    <div class="player-time">
      <span class="player-currenttime player-time f-left t-cd">00:00</span> //
      <span class="player-duration player-time f-right t-cd">00:00</span>
    </div>
    <progress class="player-progress" value="0"></progress>
    <audio id="player-audio" data-src={{ page.audiosrc }}></audio><!-- <a class="player-download" href={{ include.audio }} download>Download MP3</a> -->
  </div>

  <nav class="episode-details">nav</nav>

  <section class="summary">
    Summary
  </section>
</article>