{% capture html %}

<ul class="episode-list">
  {% assign entries = site.posts %}
  {% for entry in entries %}
    {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
    {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
      <li class="{% if page.url contains entry.url %}l-active{% endif %}">
        <a href="{{ entry.url }}">
          <div class="cwidth-narrow">
            <span class="post-index t-cd singleline">{{ entry.index }}</span>
            <span class="post-title singleline">{{ entry.title }}</span>
            <span class="post-date mb-hide t-cd singleline">{{ entry.date | date: '%d %B %y' }}</span>
          </div>
        </a>
      </li>

  {% endfor %}
</ul>

{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}