<nav class="platformlinks">
  <ul>
    <li><a href="https://podcasts.apple.com/podcast/things-of-interest/id1132951842">iTunes</a></li>
    <li><a href="https://open.spotify.com/show/3ZcYkBe1OOoEPY8HMsEXHL">Spotify</a></li>
    <li><a href="https://www.stitcher.com/podcast/things-of-interest">Stitcher</a></li>
    <li><a href="https://www.iheart.com/podcast/256-things-of-interest-31159133/">iHeartRadio</a></li>
    <li><a href="https://tunein.com/podcasts/Technology-Podcasts/Things-of-Interest-p1214003/">TuneIn</a></li>
    <li><a href="/itunes.xml">RSS</a></li>
  </ul>
</nav>