// Horizontal rule

hr {
  border: none;
  width: 80vw;
  height: calc( var(--u1) / 2);
  background-color: currentColor;
}

hr.rule-left {
  margin-left: 0;
  margin-right: auto;
}

hr.rule-right {
  margin-left: auto;
  margin-right: 0;
}