// ------
// Layout
// ------

// Layout

.flex {
  display: flex;
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.grid {
  display: grid;
}

// Mutators

.anchor {
  position: relative;
}

.screen-edge {
  padding-top: var(--u2);
  padding-left: var(--u2);
  padding-right: var(--u2);
  padding-bottom: var(--u2);
  @include q($bp-med){
    padding-left: var(--u4);
    padding-right: var(--u4);
  }
  @include q($bp-lrg){
    padding-left: var(--u6);
    padding-right: var(--u6);
  }
  @include q($bp-xlg){
    padding-left: var(--u10);
    padding-right: var(--u10);
  }
}

// Spacers


.vp-1 {
  padding-top: var(--u1);
  padding-bottom: var(--u1);
}

.vp-2 {
  padding-top: calc( 2 * var(--u1) );
  padding-bottom: calc( 2 * var(--u1) );
}

.vp-4 {
  padding-top: calc( 4 * var(--u1) );
  padding-bottom: calc( 4 * var(--u1) );
}

.vp-8 {
  padding-top: calc( 4 * var(--u1) );
  padding-bottom: calc( 4 * var(--u1) );
  @include q($bp-med){
    padding-top: calc( 8 * var(--u1) );
    padding-bottom: calc( 8 * var(--u1) );
  }
}

.vp-16 {
  padding-top: calc( 8 * var(--u1) );
  padding-bottom: calc( 8 * var(--u1) );
  @include q($bp-med){
    padding-top: calc( 12 * var(--u1) );
    padding-bottom: calc( 12 * var(--u1) );
  }
  @include q($bp-xlg){
    padding-top: calc( 16 * var(--u1) );
    padding-bottom: calc( 16 * var(--u1) );
  }
}

// Text blocks

.alternate {
  div {
    margin-bottom: var(--u6);
    &:last-child {
      margin-bottom: 0;
    }
    .big-text {
      text-align: center;
    }
    @include q($bp-med) {
      display: flex;
      align-items: center;
      &:nth-child(odd) {
        flex-direction: row;
        section,
        blockquote {
          padding-right: var(--u2);
        }
        section:last-child,
        blockquote:last-child {
          padding-right: 0;
        }
        .big-text {
          text-align: left;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        section,
        blockquote {
          padding-left: var(--u2);
        }
        section:last-child,
        blockquote:last-child {
          padding-left: 0;
        }
        .big-text {
          text-align: right;
        }
      }
    }
  }
}

  .big-text {
    flex: 0 1 auto;
    @extend .display;
    font-variation-settings: 'wdth' 350;
    font-size: 8vw;
    line-height: 1;
    text-transform: lowercase;
    word-wrap: normal;
    @include q($bp-med) {
      flex: 1 1 40%;
    }
    @include q($bp-lrg) {
      font-size: 6vw;
    }
  }
  .flex-space {
    flex: 1 1 0;
  }
  .paragraphs {
    flex: 0 1 auto;
    width: 100%;
    @include q($bp-med) {
      flex: 1 0 50%;
    }
  }
