// ------
// Layout
// ------

// Layout

.flex {
  display: flex;
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.grid {
  display: grid;
}

// Mutators

.anchor {
  position: relative;
}

.screen-edge {
  padding-top: var(--u2);
  padding-left: var(--u2);
  padding-right: var(--u2);
  padding-bottom: var(--u2);
  @include q($bp-med){
    padding-left: var(--u4);
    padding-right: var(--u4);
  }
  @include q($bp-lrg){
    padding-left: var(--u6);
    padding-right: var(--u6);
  }
  @include q($bp-xlg){
    padding-left: var(--u10);
    padding-right: var(--u10);
  }
}

