header, footer {
  padding: 2.25rem 0;
  @extend %clearfix;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.cwidth {
  width: 100%;
  @include query($bp-tablet){
      max-width: $content-width;
      margin: 0 auto;
  }
}

.cwidth-narrow {
  width: 100%;
  @include query($bp-tablet){
      max-width: $content-width-n;
      margin: 0 auto;
  }
}

.l-nav.f-left {
  margin-right: 2em;
}
.l-nav.f-right {
  margin-left: 2em;
}