a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $pink;
    text-decoration: underline;
    transition: $transition;
  }

  &:focus {
    outline: 0;
    color: $pink;
    transition: $transition;
  }

  &:active {
    color: $greyblue;
  }
}

.l-nav {
  display: inline-block;
  text-decoration: none;


  &:hover, &:focus {
    text-decoration: none;
    color: $pink;
  }

}

.disabled {
  opacity: 0.7;
  cursor: default;
  &:hover {
    color: #fff;
  }
}

.l-ft {
  font-weight: 500;
}

.l-active {
  .post-date, .post-index, .post-title {
    font-weight: bold;
  }
  .post-date, .post-index {
    letter-spacing: 0.2em;
  }
}

.toggle {
  cursor: pointer;
  &:before {
    content: 'See ';
  }
}
.toggle.shownotes-on{
  color: $greyblue;
  &:before {
    content: 'Hide ';
  }
}