.pcast-player {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  @include query($bp-tablet){
    padding-top: 5rem;
  }
}

.pcast-button {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  color: #fff;
  border: none;
  @include query($bp-tablet){
    height: 3.75rem;
    width: 3.75rem;
  }
  &:hover{
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:active{
    position: relative;
    top: 2px;
  }
  &:focus #play, &:focus #pause,
  &:hover #play, &:hover #pause {
    // stroke: $accent-color;
    fill: #fff;
    transition: 0.7s;
  }
}

.pcast-time {
  @extend %clearfix;
}

.pcast-progress {
  height: 1rem;
  width: 100%;
  border: 1px solid #fff;

  &:not([value]) {
    border: #ccc;
    background-color: #ccc;
  }
}

.pcast-progress[value]::-webkit-progress-bar {
  background-color: transparent;
}

.pcast-progress[value]::-webkit-progress-value {
  background-color: #fff;
}