.pcast-player {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  @include query($bp-tablet){
    padding-top: 5rem;
  }
}

.pcast-button {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding-top: 0.4rem;
  // border-radius: 2em;
  // box-shadow: 0 0 2em rgba(0,0,0,0.12);
  @include query($bp-tablet){
    height: 3.75rem;
    width: 3.75rem;
  }
  &:hover{
    cursor: pointer;
    // background-color: rgba(0,0,0,0.12);
  }
  &:focus {
    outline: none;
  }
  &:active{
    position: relative;
    top: 2px;
  }
  &:focus .pcast-button-svg {
    fill: $pink;
    transition: $transition;
  }
  &:hover .pcast-button-svg {
    stroke: $pink;
    transition: $transition;
  }
}

.pcast-time {
  @extend %clearfix;
}

.pcast-progress {
  height: 1rem;
  width: 100%;
  border: 1px solid #ffffff;

  &:not([value]) {
    border: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.pcast-progress[value]::-webkit-progress-bar {
  background-color: transparent;
}

.pcast-progress[value]::-webkit-progress-value {
  background-color: #ffffff;
}