.t-cd {
  font-family: $font-fam-cd;
  font-weight: 450;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.t-cd-large {
  font-size: 1.25rem;
  font-family: $font-fam-cd;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.t-dp {
  font-size: 2.75rem;
  font-family: $font-fam-dp;
  font-weight: 700;
  line-height: 1.2em;
  orphans: 2;
  @include query($bp-tablet){
    font-size: 3rem;
  }
}

.t-sm-allcaps {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  font-weight: 600;
}

blockquote {
  @extend .t-dp;
  font-size: 2.5rem;
  padding: 1em 0 0.2em;
  @include query($bp-tablet){
    padding-top: 2em;
  }
}

.summary {
  strong {
    text-decoration: underline;
    color: $pink;
  }
}