<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="">

    <div id="underlay" class="underlay off" style="background-image:url({{ page.bgsrc }});"></div>

    <div class="overlay">

      <main class="screen-edge">

        {% include logonav.html %}

        {% include episode.html %}
        
        {{ content }}
        
      </main>

      {% include hr.html direction="left" color=site.purple %}

      {% include about.html %}

    </div>

    <script type="text/javascript">{% include player.js %}</script>

  </body>

</html>
